{% extends 'emails/layout.html.twig' %}

{% block preheader %}Je hebt om een nieuw wachtwoord gevraagd voor Tijd voor de test.{% endblock %}

{% block heading %}Tijd voor een nieuw wachtwoord{% endblock %}

{% block body %}
    <p class="text">Beste speler,</p>
    <p class="text">
        Je hebt aangegeven dat je wachtwoord opnieuw moet worden ingesteld. Voordat je verder mag, is er nog één
        opdracht: klik op de knop hieronder.
    </p>

    <center><button href="{{ url('tvdt_reset_password', {token: resetToken.token}) }}">Stel wachtwoord opnieuw in</button></center>

    <p class="text">
        Werkt de knop niet? Kopieer dan deze link naar je browser:<br>
        <a href="{{ url('tvdt_reset_password', {token: resetToken.token}) }}">{{ url('tvdt_reset_password', {token: resetToken.token}) }}</a>
    </p>

    <p class="text">
        Let op: deze link is, niet eeuwig geldig. Hij verloopt over
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>

    <p class="text">Veel succes!</p>
{% endblock %}
