<h6>Seizoensinstellingen</h6>
<p>Pas hier de naam en overige instellingen van dit seizoen aan.</p>
<p>De seizoenscode staat vast na aanmaken en bepaalt de URL die kandidaten gebruiken om in te loggen.</p>
