<h6>Nieuw seizoen</h6>
<p>Een seizoen groepeert alle testen en kandidaten voor één spel. Geef het seizoen een herkenbare naam; de seizoenscode wordt automatisch gegenereerd.</p>
<p>Na het aanmaken voeg je kandidaten toe en maak je testen aan via de seizoenpagina.</p>
