<h6>Kandidaten toevoegen</h6>
<p>Voer één naam per regel in. Dit zijn de spelers die deelnemen aan dit seizoen.</p>
<p>Je kunt later altijd nog kandidaten toevoegen via het tabblad Kandidaten. Gebruik dezelfde schrijfwijze van namen die je in het spel gebruikt.</p>
