.col-result-xs { width: 10%; }
.col-result-sm { width: 15%; }
.col-result-md { width: 20%; }

.modal-content > turbo-frame { display: contents; }

.release-notes {
  word-wrap: break-word;

  > :last-child { margin-bottom: 0; }
}
