{% extends "quiz/base.html.twig" %}
{% block body %}
    Candiadte: {{ candidate.name }}<br/>

    {{ question.question }}<br/>
    <form method="post">
        {% for answer in question.answers %}
            <div>
                <button class="btn btn-outline-success"
                        type="submit"
                        name="answer"
                        value="{{ answer.id }}">{{ answer.text }}</button>
            </div>
        {% else %}
            Weirdly enough this question has no answers...
        {% endfor %}
    </form>
{% endblock body %}
