<h6>{{ 'Season settings'|trans({}, 'instructions') }}</h6>
<p>{{ 'Adjust the name and other settings for this season here.'|trans({}, 'instructions') }}</p>
<p>{{ 'The season code is fixed after creation and determines the URL candidates use to log in.'|trans({}, 'instructions') }}</p>
