<!DOCTYPE html>
<html lang="nl" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
        src="https://js-de.sentry-cdn.com/30cf438bc708c97e6f45c127bed9af96.min.js"
        crossorigin="anonymous"
    ></script>
    <title>
        {% block title %}Tijd voor de test{% endblock title %}
    </title>
    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% block importmap %}{% endblock %}{% endblock %}
</head>
<body>
{% block nav %}
{% endblock nav %}
<main>
    {% block main %}
        <div class="container">
            {{ include('flashes.html.twig') }}
            {% block body %}
            {% endblock body %}
        </div>
    {% endblock %}
</main>
</body>
</html>
